/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

:root {
    --it-primary: #1925e2;
    // --it-primary: #1E40AF;
    --it-secondary: #2563EB;
    --it-secondary-selected-focus: #d7e0ff;
}

button {
    cursor: pointer;
}

.bg-it-primary {
    background-color: var(--it-primary);

    // &:hover {
    //     background-color: var(--it-secondary);
    // }
}

button.bg-it-primary:hover {
    background-color: var(--it-secondary);
}

.bg-it-primary-hover {
    background-color: var(--it-secondary);
}
.bg-it-secondary {
    background-color: var(--it-secondary);
}

.text-it-primary, .color-it-primary,
.p-step-active .p-step-title,
.p-step-active .p-step-number {
    color: var(--it-primary);
}
.text-it-secondary, .color-it-secondary {
    color: var(--it-secondary);
}

.border-it-primary,
.p-select:not(.p-disabled).p-focus,
.p-inputtext:enabled:focus {
    border-color: var(--it-primary);
}

.border-it-secondary {
    border-color: var(--it-secondary);
}

.text-it-gray {
    color: #666;
}

.layout-menu li a.active-route {
    background-color: var(--it-primary)!important;
    color: var(--color-white)!important;
}

.p-select-option.p-select-option-selected.p-focus,
.p-select-option.p-select-option-selected {
    background-color: var(--it-secondary-selected-focus);
    color: var(--it-primary);
}